<div class="page-one">
  <%= render "list" %>
</div>

<div class="page-two">
  <h1>
    <%= @paste.name %>
    <div class="pull-right">
      <%= link_to "Edit", edit_paste_path(@paste), class: "btn btn-default" %>
    </div>
  </h1>
  <span class="language subtitle">Language: <%= @paste.language %></span>
  <span class="expires-at subtitle">Expires: <%= @paste.expires_at.to_formatted_s(:short) unless @paste.expires_at.nil? %></span>
  <pre class="paste-body">
    <%= @paste.body %>
  </pre>
  <h3>Comments</h3>
  <% unless @paste.comments.empty? %>
    <ul>
      <% @paste.comments.each do |c| %>
        <li><%= c.body %> - <b><%= c.user.email %></b> (<%= c.created_at.to_formatted_s(:short) %>)</li>
      <% end %>
    </ul>
  <% end %>
  <%= render "comments/form" %>
</div>